
    html{

        font-size: 10px;
        font-family:"Open Sans",sans-serif;
        background-color: azure;
    }
h1{
    font-size: 60px;
    text-align: center;
}

p,li{
    font-size:16px;
    line-height: 2;
    letter-spacing: 1px;

}
body{
    width:600px;
    margin:0 auto;
    background-color: white;
}
